body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #292f33;
}
#main_wrap { 
    display: table;
    height: 100%;
}

#sidebar {
    min-width: 200px;
    display: table-cell;
    text-align: center;
    border-spacing:0;
    border-collapse:collapse;

}

a { color: #00acee; }
a:hover { color: #00acee; }​

#heading {
    font-size: 20px;
    color: #ffffff;

}
#instr_text {
    font-size: 15px;
    color: #ffffff;

}

#content {
    display: table-cell;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#initial {
    text-align: center
}

#small_text {
    font-size: 10px;
    color: #ffffff;
}


#location_form {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    /*margin-left:230px*/
    background-color: #00acee;
}

#blue_form {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    /*margin-left:230px*/
    background-color: #00acee;
}

#results_table {
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    background-color: #00acee;
    overflow: auto;
    width: 180px;
    height: 100px;

}

#submit {
    background-color: #292f33;
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: poiner;
    border:none;
}

#submit:hover {
    border: none;
    background: #ffffff;
        color: #000;
    box-shadow: 0px 0px 1px #777;
}

#creep {
    background-color: #008000;
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: poiner;
    border:none;
    width: 75px;
}

#creep:hover {
    border: none;
    background: #00e500;
    color: #fff;
    box-shadow: 0px 0px 1px #777;
    font-style: bold;
}

#submit_location {
    background-color: #b20000;
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: poiner;
    border:none;
    width: 75px;
}

#submit_location:hover {
    border: none;
    background: #ffff00;
        color: #000;
    box-shadow: 0px 0px 1px #777;

}

#user_button {
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: poiner;
    border:none;
}

#user_button:hover {
    border: none;
    background: #ffffff;
        color: #000;
    box-shadow: 0px 0px 1px #777;
}





